.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: black;
}

.login img{
    width: 70%;
}

.login a{
    cursor: pointer;
    padding: 20px;
    background: #1db954;
    color: white;
    border-radius: 99px;
    font-weight: 800;
    text-decoration: none;
}