.sidebarOption{
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease;
    display: flex;
    align-items: center;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption__icon{
    padding: 0px 10px 0px 10px;
}

.sidebarOption >p{
    margin-left:20px;
    margin-top: 10px;
    font-size: 14px;
}